
body{
    width: 80vw;
    margin: 0 auto;
    box-sizing: border-box;
}
.top-header{
    display: flex;
    justify-content: left;
    width: 100%;
}
#logo{
    width: 100px;
}
h1{
    font-size: 3em;
    width: 800px;
    text-align: center;
}
.section_header{
    width: 60%;
}
.nav_header{
    display: flex;
}
.nav_header li{
    list-style-type: none;
    font-size: 1.5em;
    margin: 20px;
}
.nav_header a{
    display: inline-block;
    text-decoration: none;
}
.nav_slash{
    font-weight: bold;
}
.video_container{
    display: inline-block;
    width: 100%;
}
.video_header{
    width: 100%;
}